<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "Tests suit" thread-count="1" verbose="1" annotations="JDK" parallel="tests">
    <test name = "Test case 1">
        <classes>
            <class name = "test_cases.Test1"/>
        </classes>
    </test>
</suite>